<!DOCTYPE html>
<html>
<head>
  <title>
    <%= yield(:title).presence || page_title %>
  </title>
  <meta charset="utf-8">

  <meta name="description" content="Ein modernes und schnelles Vorlesungsverzeichnis für das Karlsruher Institut für Technologie (KIT)">
  <meta name="keywords" content="KIT, VVZ, Karlsruher Institut für Technologie, Vorlesungsverzeichnis, Uni Karlsruhe, Campusmap, Karte">
  <meta name="language" content="de">
  <meta name="robots" content="index,follow">
  <meta name="author" content="Carsten Griesheimer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <%= csrf_meta_tags %>
  <%= render partial: "layouts/fb/meta" if feature(:facebook) %>

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" sizes="152x152" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag "lib", "application" %>
  <%= yield :stylesheet %>

  <%= javascript_include_tag "application", :defer => "defer" %>
  <%= yield :javascript %>

</head>
<% page = params[:controller] + "-page" %>
<body class="<%=page%>">
  <%= render :partial => "layouts/sitewarning" %>
  <%= render :partial => "layouts/topbar" %>

  <div class="main-content" role="main">
    <%= yield %>
  </div>

  <%= render :partial => "layouts/footer" %>

  <%= render partial: "layouts/browserid_js" unless feature(:backdoor) || authorized? %>
  <%= render partial: "layouts/analytics" if feature(:analytics) %>
  <%= render partial: "layouts/fb/like_setup" if feature(:facebook) %>
  <%= render partial: "layouts/uservoice" if feature(:uservoice) %>
</body>
</html>
