<!DOCTYPE html>
<html>
<head>
  <title>
    <%= page_title %>
  </title>
  <meta charset="utf-8">

  <meta name="description" content="Dieses Vorlesungsverzeichnis ist eine verbesserte Kopie des offiziellen Verzeichnisses des Karlsruher Institut f체r Technologie (KIT). Es enth채lt Vorlesungen und Lehrveranstaltungen f체r das Sommersemester 2013.">
  <meta name="keywords" content="KIT, VVZ, Karlsruher Institut f체r Technologie, SS13, SS2013, Sommersemester 2013, Vorlesungsverzeichnis, Uni Karlsruhe, Campusmap, Karte">
  <meta name="language" content="de">
  <meta name="robots" content="index,follow">
  <meta name="author" content="Carsten Griesheimer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <%= csrf_meta_tags %>
  <%= render partial: "layouts/fb/meta" if feature(:facebook) %>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Muli|Open+Sans' rel='stylesheet' type='text/css'>
  <!-- <link href="http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css">

  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheet %>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" defer></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-tooltip.js" defer></script>

  <%= javascript_include_tag  "application", defer: true %>
  <%= yield :javascript %>

</head>
<% page = params[:controller] + "-page" %>
<body class="<%=page%>">
  <!-- render :partial => "layouts/toolbox" !-->
  <%= render :partial => "layouts/topbar" %>
  <%#= render :partial => "layouts/breadcrumb" %>

  <%= yield %>

  <%= render :partial => "layouts/footer" %>

  <%= render partial: "layouts/browserid_js" unless feature(:backdoor) || authorized? %>
  <%= render partial: "layouts/analytics" if feature(:analytics) %>
  <%= render partial: "layouts/fb/like_setup" if feature(:facebook) %>
  <%= render partial: "layouts/uservoice" if feature(:uservoice) %>
</body>
</html>