<!DOCTYPE html>
<html>
<head>
  <%= metamagic(meta_top)%>
  <meta charset="utf-8">
  <meta name="language" content="de">
  <meta name="robots" content="index,follow">
  <meta name="author" content="Carsten Griesheimer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

<%#<meta property="og:title" content="<x%=h yield(:title) % >" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.kithub.de<%= request.fullpath % >" />
  <meta property="og:image" content="http://www.kithub.de/fb_logo.png" />
  <meta property="og:site_name" content="KIT Vorlesungsverzeichnis" />
  <meta property="fb:admins" content="1187916060" />
 -->%>

  <%= csrf_meta_tags %>

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" sizes="152x152" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag "lib", "application" %>
  <%= yield :stylesheet %>
</head>
<% page = params[:controller] + "-page" %>
<body class="<%=page%>">
  <%= render :partial => "layouts/sitewarning" %>
  <%= render :partial => "layouts/topbar" %>

  <div class="main-content" role="main">
    <%= render partial: "layouts/ad" %>
    <%= yield %>
  </div>


  <%= render :partial => "layouts/footer" %>

  <%= render partial: "layouts/browserid_js" unless feature(:backdoor) || authorized? %>
  <%= render partial: "layouts/analytics" if feature(:analytics) %>
  <%= render partial: "layouts/fb/like_setup" if feature(:facebook) %>
  <%= render partial: "layouts/uservoice" if feature(:uservoice) %>

  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
</body>
</html>
